  *,
  *:after,
  *:before {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  ul{
      list-style: none;
  }


  body {
    font-family: Calibri, Arial, sans-serif;
    letter-spacing: 1px;
    overflow: hidden;
    overflow-y: auto;
    background-color: #efefef;
    letter-spacing: 1px;
    padding: 20px;
    max-width: 280px;
  }

  .dropdown {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 280px;
    background: #fff;
    color: #666;
    border-radius: 4px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    
  }

  .dropdown li:hover:not(.title) {
    background-color: #efefef;
  }

  .dropdown strong {
    color: #3E3E3E;
    font-weight: 400;
    display: block;
    margin-bottom: 0.75em;
  }

  .dropdown li.title {
    font-size: 16px;
    padding: 10px 12px;
    color: #81c483;
  }

  .dropdown li.divider {
    background-color: #cfcfcf;
    height: 1px;
  }

  .dropdown li.note {
    background: #f6f6f6;
    border-top: 1px solid #cfcfcf;
    color: #aaa;
    font-size: 12px;
    padding: 12px;
  }

  .dropdown li label {
    display: block;
    line-height: 36px;
    padding-left: 36px;
  }

  .dropdown li label > span {
    position: absolute;
    display: inline-block;
    left: 12px;
    margin-top: 12px;
    width: 12px;
    height: 12px;
    border: 1px solid #cfcfcf;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .dropdown li label input {
    display: none;
  }

  .dropdown li label input[type=checkbox] ~ span {
    border-radius: 2px;
  }

  .dropdown li label input[type=radio]~ span {
    border-radius: 100%;
  }

  .dropdown li label input[type=checkbox]:checked ~ span {
    background-color: #81c483;
    border: 1px solid #999;
  }

  .dropdown li label input[type=radio]:checked ~ span {
    background-color: #81c483;
    border: 1px solid #999;
  }



  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  .filters-price__inputs {
    display: flex;
    justify-content: space-between;
  }

  .filters-price__label {
    display: flex;
    align-items: center;
    width: 133px;
    height: 40px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    padding: 0 10px;
  }

  .filters-price__text {
    font-size: 14px;
    color: #808080;
  }

  .filters-price__text:first-child {
    margin-right: 10px;
  }

  .filters-price__text:last-child {
    margin-left: 10px;
  }

  .filters-price__input {
    border: none;
    color: #4D4D4D;
    font-size: 14px;
  }

  .filters-price__title {
    margin-bottom: 20px;
  }

  .filters-price__slider {
    margin-bottom: 20px;
  }

  .noUi-connect {
    background-color: #81c483;
  }

  .noUi-target {
    background-color: #bfbfbf;
    border: none;
    border-radius: 100px;
    box-shadow: none;
    height: 3px;
  }

  .noUi-handle::after,
  .noUi-handle::before {
    display: none;
  }

  .noUi-handle {
    box-shadow: none;
    border-radius: 100%;
    background-color: #fff;
    border: 3px solid #81c483;
  }

  .noUi-horizontal .noUi-handle {
    width: 22px;
    height: 22px;
    top: -10px;
  }

  .noUi-horizontal .noUi-handle-upper {
    right: 0;
  }